modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 38601243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
